---
layout: default
title: SOLAR SYSTEM
---

<div class="container">

    <div class="poster">
        <img src="/assets/img/solar-system-5.png" style="width: 100%; height: 100%; object-fit: contain;"
            alt="Solar System">
    </div>
    <br />

    <!-- Three columns of text, aligned to the center of the page, with equal spacing, and the font aligned to the left -->

    <div class="lineup-container">

        <div class="lineup-column left">
            <p><a href="https://instagram.com/solarsystem.nyc" target="_blank">SOLAR SYSTEM</a> No.5</p>
        </div>

        <div class="lineup-column left">
            <p><a href="https://www.instagram.com/_jwords/" target="_blank">JWords</a></p>
            <p>
                <a href="https://www.instagram.com/maxinthe_world/" target="_blank">Max In The World</a> + 
                <a href="https://www.instagram.com/kingkroba" target="_blank">Kroba</a></p>
            <p><a href="https://www.instagram.com/aaaaaaaaarontripp/" target="_blank">A Tripp</a></p>
            <p><a href="https://www.instagram.com/abelsonlive/" target="_blank">Abelson Live</a></p>
        </div>

        <div class="lineup-column right">
            <p class="right">July 21st</p>
            <p class="right">2-7 PM</p>
            <p class="right">Highland Park</p>
            <p class="right">Ridgewood Queens</p>
        </div>
    </div>
    <div class="description">
        <p>
            This edition of SOLAR SYSTEM will feature two live sets, by JWords and Max In The World + Kroba. 
        </p>
        <p>
            JWords is a producer, composer breaking boundaries in black electronic and hip-hop music successfully 
            fusing the two genres creating a whole new world for herself. An arsenal of synthesizers and drum machines 
            have become her signature in creating dynamic live performances. 
            She's produced albums like <a href="https://h31r.bandcamp.com/album/ve-loc-i-ty" target="_blank"><i>ve·loc·i·ty</i></a> 
            by H31R (a duo with maassai) and <a href="https://nappynina.bandcamp.com/album/double-down" target="_blank"> <i>Double Down</i></a> 
            with rapper Nappy Nina.
        </p>
        <p>
            DJ, producer, and founder of the Bliss Point label, Max In The World will be performing a collaborative set 
            with saxophonist and multi-instrumentalist Kroba. The duo released their first record, 
            <a href="https://blisspointsound.bandcamp.com/album/excursions" target="_blank"><i>Excursions</i></a>, on Bliss Point 
            last year. You might also know Kroba from his hybrid sets on The Lot Radio's Morning Stretch or his productions 
            as part of Archie Pelago, a trio with releases on Mister Saturday Night & Styles Upon Styles, among others. 
            We are excited to host the duo for their second performance since their debut opening for Deepchord at Nowadays' 
            Dripping series in May.
        </p>
        <p>
            At the heart of SOLAR SYSTEM is a one-of-a-kind <a href="https://www.instagram.com/echoic.systems/"
                target="_blank">hi-fi system</a> operating entirely off the grid. Powered by batteries charged with
            solar energy and buttressed by on-site panels, SOLAR SYSTEM rises and falls with the sun, offering a
            glimpse of a smaller, more sustainable musical future.
        </p>
        <h3>SET TIMES</h3>
        <ul class="list-details">
            <li><b>2-4</b> ATRIPP + ABELSON.LIVE</li>
            <li><b>4-5</b> MAX IN THE WORLD + KROBA</li>
            <li><b>5-6</b> JWORDS</li>
            <li><b>6-7</b> ATRIPP + ABELSON.LIVE</li>
        </ul>
        <h3>EVENT DETAILS</h3>
        <ul class="list-details">
            <li>Sunday, July 21st, 2-7PM</li>
            <li>Highland Park, Ridgewood, Queens</li>
            <li><a href="https://www.google.com/maps/place/40%C2%B041'05.1%22N+73%C2%B053'37.3%22W/@40.684761,-73.8943347,175m/data=!3m2!1e3!4b1!4m12!1m7!3m6!1s0x89c25d00631768d7:0xcaa99e86e9888c34!2sHighland+Park+Disc+Golf+Course!8m2!3d40.6843267!4d-73.8928619!16s%2Fg%2F11vxq3dbkf!3m3!8m2!3d40.684761!4d-73.893691?entry=ttu"
                    target="_ blank">Coordinates: 40.684801, -73.893721</a>
            </li>
            <li>
                15-minute walk from the Van Siclen J
            </li>
            <li>
                If driving, head towards the entrance at <a href="https://maps.app.goo.gl/epDEQNohLavxvneK6"
                    target="_blank">176 Jackie Robinson Pkwy, Brooklyn, NY 11207</a>. 
                It's usually difficult to find parking at the main entrance to Highland Park!
            </li>
            <br />
        </ul>
    </div>
</div>