---
layout: post
title: SOLAR SYSTEM LINKS
permalink: /links/
hide_title: true
---
<div class="container">
<center>
    <div class="links-bio">
    <a href="https://instagram.com/{{site.data.links.instagram}}" target="_blank"><img style="width: 50%; height: 50%; object-fit: contain; border-radius: 50%;" src="{{site.data.links.avatar}}" alt="SOLAR SYSTEM LOGO"></a>
    <br/>
    <a href="https://instagram.com/{{site.data.links.instagram}}" target="_blank">@{{site.data.links.instagram}}</a>
    <br/>
    <br/>
    {{site.data.links.bio}}
    <br/>
    </div>
    <hr></hr>
    <div class="links-list">
        {% for hl_thing in site.data.links.headline %}
        <a href="{{hl_thing.url}}" target="_blank"><div class="links-list-item links-list-item-headline">{{hl_thing.title}}</div></a>
        {% endfor %}
        {% for thing in site.data.links.links %}
        <a href="{{ thing.url }}" target="_blank"><div class="links-list-item">{{ thing.title }}</div></a>
        {% endfor %}
    </div>
</center>
</div>
