<h2> listen </h2>
<div class="audio-player-container">
    <audio id="{{ page.mix.selector }}" preload="auto" class="audio-player" controls>
        <source src="{{ page.mix.url }}#t=00:00:00" type="audio/mpeg">
        </source>
    </audio>
</div>

<div class="mix-tracklist">
    <h2> tracklist </h2>
    <ul class="mix-segment-list">
        <li>
            <a href="{{ page.mix.url }}" download>download the mix</a>
        </li>
        {% assign segments = page.mix.segments | sort: 'timestamp' %}
        {% for segment in segments %}
        <li class="mix-segment">
            <button type="button" class="mix-segment-link" data-selector="{{ page.mix.selector }}"
                data-src="{{ page.mix.url }}" data-segment="{{ segment.timestamp }}">{{ segment.timestamp
                }}</button>:<br />
            {% for t in segment.tracks %}
            <a href="{{ t.url }}" target="_blank"><span class="mix-segment-track">{{ t.artist}} – {{ t.title}} </span></a>
            <br />
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</div>

<style>
    /* mix lists */
    .mix-segment-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .audio-player {
        width: 100%;
        background-color: black;
    }
</style>