<form method="get" id="search-google" action="https://www.google.com/search" target="_blank"><input type="hidden"
        name="sitesearch" value="brian.abelson.live" /><input type="text" name="q" maxlength="255" value=""
        placeholder="search..." class="form-control" /></form>