@import "highlight.css";

html {
    font-family: "Courier";
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 15px;
    line-height: 1.33;
    background-color: #5b6000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


body {
    width: 100%;
    height: 100%;
}

.container {
    width: 600px;
    margin: 0 auto;
    padding-right: 1em;
}

.poster {
    width: 100%;
}

.lineup-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Adjust this line */
    align-content: left;
    width: 100%;
}

.lineup-column {
    text-align: left;
    line-height: 1;
}

.lineup-column>p {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5em;
}

p.right {
    text-align: right;
    padding-right: 0.5em
}

.description {
    width: 100%;
    text-align: justify;
}

.list-details {
    margin: 0;
    padding-left: 15px;
}

@media screen and (max-width: 700px) {
    .container {
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 14px;
    }

    .container { 
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        width: 95%;
    }
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: #f14712;
}

.links-bio {
    font-size: 20px;
}

.links-list {
    display: flex;
    flex-direction: column;
}

.links-list-item {
    padding: 15px 25px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: rgb(29, 0, 37);
    border: none;
    border-radius: 15px;
}

.links-list-item:hover {
    background-color: #333;
    text-decoration: none;
}

.links-list-item:active {
    background-color: #333;
    transform: translateY(4px);
}

.links-list-item-headline {
    background-color: #333;
}

.links-list-item-headline:hover {
    background-color: black;
}

.links-list-item-headline:active {
    background-color: black;
    transform: translateY(4px);
}