---
layout: default
title: SOLAR SYSTEM | {{ page.title }}
---

<section class="content posts category">
    <div class='article-container'>
        <div class='article-container-3'>
            <div class='article-container-2'>
                <div class='article-container-1'>
                    <article class='article-content'>
                        <h1 class="post-title">
                            {{ page.category }}
                        </h1>
                        <ul>
                            {% for post in page.posts %}
                            <li><span>{{post.date | date: "%d.%m.%y" }}</span> | <a href="{{ post.url }}">{{
                                    post.title }}</a></li>
                            {% endfor %}
                        </ul>
                        <h1>
                            all categories
                        </h1>
                        <ul>
                            {% assign cat_array = site.categories | sort %}
                            {% for category in cat_array   %}
                            <li><a href="/category/{{ category | first | slugify }}/">{{
                                    category | first }}</a></li>
                            {% endfor %}
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>