<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="8JeyKKcCa07i4SN7RJtVeFuVIu2O4vSyaPn_o9qjv3M" />

  <title>{% if page.title and page.title != 'Home' %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% assign pagecontent_description = page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 160 %}
  <meta name="description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}">
   <!-- Facebook integration -->
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:image" content="https://solarsystem.nyc/assets/img/solar-system-5.png"/>
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}"/>
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}"/>

  <!-- Twitter integration -->
  <meta name="twitter:card" content="summary">
  {% if site.twitter_url %}<meta name="twitter:site" content="{{ site.twitter_url }}">{% endif %}
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:image" content="https://solarsystem.nyc/assets/img/solar-system-5.png"/>
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
  <meta name="twitter:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/assets/img/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="32x32" href="/assets/img/favicon-32x32.png">
  <link rel="apple-touch-icon-precomposed" sizes="16x16" href="/assets/img/favicon-16x16.png">
</head>
<body>
  {{ content }}
  <script src="/assets/js/lib/jquery.min.js"></script>
  <script src="/assets/js/main.js"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZVBJR9693R"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    // gtag('config', 'G-ZVBJR9693R');
  </script>

</body>

</html>
